.leaderboard-container {
    margin: auto;
  }
  
  .leaderboard {
    max-height: 30rem; 
    overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
  }

  
  .leaderboard::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  
  /* For all browsers: Hide scrollbar, but keep the ability to scroll */
  .leaderboard {
    -ms-overflow-style: none;  
    overflow: -moz-scrollbars-none;  /* Firefox */
  }
  
  .leaderboard::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
  }
  
  